@model ConstructionMS.Receipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest.GuestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.GuestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.ManagerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
